/*
 * Styles for Button elements — seeapotheke.de
 */

 body {
   --button-background: var(--color-CI-1);
   --button-background-hover: var(--color-paper);
 }

a[role=button], div.button {
  --text-color: var(--color-body-text-inverted) !important;
  border: solid 2px transparent;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--space-XS);

  text-align: center;
  text-decoration: none;

  padding: var(--space-XS);
  margin-block: var(--space-S);
  background: var(--button-background);
  border-radius: var(--radius-M);

  &:hover, &:focus, &:active {
    background: var(--button-background-hover);
    border: solid 2px var(--button-background);
    --text-color: var(--color-CI-1) !important;
  }

  //Label
  span.label {
    order: 1;
  }

  //Icon
  span.left {
    order: 0;
  }
  span.right {
    order: 2;
  }
}
