/*
 * Color Variables for seeapotheke.de
 */

:root {
  --color-CI-1: #1E398F;
  --color-CI-2: #E30018;
  --color-lines: #E8E9ED;
  --color-paper: #FBFCFE;
  --color-body-text: #3D3D3D;
  --color-body-text-dimmed: #666666;
  --color-body-text-emphasized: #000000;
}
