/*
 * Details for Header/Sidebar on seeapotheke.de
 */

header {
  border-right: var(--color-lines) solid var(--line-hair);
  border-left: var(--color-lines) solid var(--line-hair);

  section {
    padding-block: var(--space-L);
    padding-inline: var(--space-gap);
    border-bottom: var(--color-lines) solid var(--line-hair);

    article:first-child > *:first-child {
      margin-top: 0;
    }

    article:last-child > *:last-child {
      margin-bottom: 0;
    }
  }

  ol, ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  nav {
    margin-inline: calc(var(--space-M) * (-1));

    a {
      display: block;
      padding: var(--space-XS) var(--space-M);
      text-decoration: none;
      border-radius: var(--radius-M);
      background: transparent;

      transition-property: background, color;
      transition-duration: 250ms;
      transition-timing-function: ease-out;

      &:link, &:visited {
        color: var(--color-body-text);
      }
      &:active, &:hover, &:focus {
        color: var(--color-body-text-inverted);
        background: var(--color-CI-1);
        transition-property: none;
      }
      &:focus-visible {
        color: var(--color-CI-1);
        background: var(--color-selected);
        outline: solid 2px var(--color-CI-2);
      }
    }
  }
}
