/*
 * Link Styles for seeapotheke.de
 */

header nav {
  a {
    &:not(a[href*="seeapotheke.de"], a[href*="localhost"]) {
      span::after {
        display: inline-block;
        content: "Externer Link";
        overflow: hidden;
        color: transparent;
        width: 1rem;
        height: 1rem;
        vertical-align: baseline;
        transform: translateY(.17rem);
        margin-inline-start: var(--space-S);

        -webkit-mask-image: url('/assets/icon-external-link.svg');
        mask-image: url('/assets/icon-external-link.svg');

        background-color: var(--color-body-text);
      }
    }
    &:active, &:hover, &:focus {
      &:not(a[href*="seeapotheke.de"], a[href*="localhost"]) span::after {
        background-color: var(--color-body-text-inverted);
      }
    }
    &:focus-visible {
      &:not(a[href*="seeapotheke.de"], a[href*="localhost"]) span::after {
        background-color: var(--color-CI-1);
      }
    }
  }
}

main {

}
