/*
 * Page Layout Definitions for seeapotheke.de
 *
 * - Mobile Layout is more simple, going mobile first makes sense
 * - Mobile Layout using block-layout
 * - Desktop-Layout easiest with grid
 */

// Sass includes
@use 'global-sass-variables';

// Globally available CSS variables
:root {
  --layout-header-height-sticky: 3.75rem;
  --layout-max-width: 80rem;
}

// Page Layout Definitions
body {
  margin: 0;
  padding: 0;
}

.contain {
  border-right: var(--color-lines) solid var(--line-hair);

  max-width: var(--layout-max-width);
  margin: 0 auto;

  @media (min-width: #{global-sass-variables.$breakpoint-desktop-min}) {
    display: grid;
    grid-template-columns: [header-start page-start] 1fr [header-end main-start] 3fr [main-end page-end];
    gap: 0;
  }

  header {
    grid-column: header;

    @media (max-width: #{global-sass-variables.$breakpoint-desktop-max}) {
      min-height: 3.75rem;
      //position: sticky;
    }
  }

  main {
    grid-column: main;

    @media (max-width: #{global-sass-variables.$breakpoint-tablet-max}) {
      & > *:not(figure, img) {
        padding-block: var(--space-L);
      }
    }

    & > *:not(figure, img, .appBlockWrapper) {
      max-width: 40rem;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    & > figure, & > img {
      width: 100%;
    }
  }
}
