/*
 * Page Layout Definitions for seeapotheke.de
 *
 * - Mobile Layout is more simple, going mobile first makes sense
 * - Mobile Layout using block-layout
 * - Desktop-Layout easiest with grid
 */

// Sass includes
@use 'global-sass-variables';

// Globally available CSS variables
:root {
  --layout-header-height-sticky: 3.75rem;
  --layout-max-width: 80rem;
}

// Page Layout Definitions
body {
  margin: 0;
  padding: 0;
}

.contain {
  border-right: var(--color-lines) solid var(--line-hair);

  max-width: var(--layout-max-width);
  margin: 0 auto;

  @media (min-width: #{global-sass-variables.$breakpoint-desktop-min}) {
    display: grid;
    grid-template-columns: [header-start page-start] 1fr [header-end main-start] 3fr [main-end page-end];
    gap: 0;
  }

  header {
    grid-column: header;

    #logo img {
      @media (max-width: #{global-sass-variables.$breakpoint-desktop-max}) {
        max-height: 3.75rem;
        width: auto;
      }
    }
    #navBody {
      @media (max-width: #{global-sass-variables.$breakpoint-desktop-max}) {
        display: none;
      }
    }
  }

  main {
    container-type: inline-size;
    container-name: main;
    grid-column: main;

    @media (max-width: #{global-sass-variables.$breakpoint-tablet-max}) {
      & > *:not(figure, img) {
        margin-block: var(--space-L);
      }
    }

    & > *:not(figure, img, .appBlockWrapper, .block_map-and-message) {
      max-width: 40rem;
      margin-inline: auto;

      @container main (width < 42rem){
        margin-inline: var(--space-gap);
      }
    }
    & > figure, & > img {
      width: 100%;
    }
  }
}
