/*
 * Global Custom Properties for seeapotheke.de
 */

:root {
// Spacing
  --space-XS: .25rem;
  --space-S: .375rem;
  --space-M: .5rem;
  --space-gap: 1rem;
  --space-L: 1.5rem;
  --space-XL: 2rem;

// Radii
  --radius-M: .5rem;
  --radius-L: 1rem;

// Colors
  --color-CI-1: #1E398F; // HKS K 42
  --color-CI-1-plus-10: #3C59B4;

  --color-CI-2: #E30018; // HKS K 13
  --color-CI-3: #007a3b; // HKS K 56
  --color-lines: #E8E9ED;
  --color-paper: #FBFCFE;
  --color-selected: #E8E9ED;
  --color-body-text: #3D3D3D;
  --color-body-text-dimmed: #666666;
  --color-body-text-emphasized: #000000;
  --color-body-text-inverted: #F5F5F5;

// Lines
  --line-hair: 1px;
  @media (min-resolution: 150dpi) {
    --line-hair: .5px;
  }
}
