/*
 *    Global CSS Definitions for seeapotheke.de
 */

// Sass includes
@use 'page-layout';
@use 'colors';
@use 'typography';

// Global CSS rules
img {
  max-width: 100%;
  height: auto;
}

pre {
  background: black;
  color: white;
  padding: 1rem;
}
