/*
 *    Global CSS Definitions for seeapotheke.de
 */

// Sass includes
// Important: Order of inclusion must remain unchanged!
@use 'page-layout';
@use 'variables';
@use 'media';
@use 'typography';
@use 'header';
@use 'links';
@use 'blocks';
@use 'buttons';

// Global CSS rules
img {
  width: 100%;
  height: auto;
}

pre {
  background: black;
  --text-color: white;
  padding: 1rem;
}
