/*
 *
 */

@use '../global-sass-variables';

#teamNav ol {
  list-style: none;
  margin: calc(var(--space-gap)/(-2));
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0; //No gap, otherwise transform on hover effect flicker, use padding in a
  justify-content: flex-start;

  li {
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: calc(5rem + var(--space-gap));

    a {
      display: inline-block;
      padding: calc(var(--space-gap)/2);
      img {
        object-fit: cover;
        aspect-ratio: 1;
        border-radius: var(--radius-XL);
        transition-duration: var(--transition-duration-M);
      }
    }
  }

  &:has(a:hover) {
    img {
      transform: scale(0.95);
    }
    a:hover img {
      transform: scale(1.1);
    }
  }
}

.teamPagePortrait {
  // Images will always be prepared as squares -> Needs scrset for mobile
  margin: var(--space-L);
  border-radius: var(--radius-XXL);
  max-width: 33%;
  float: left;

  &.even {
    float: right;
  }
}
