@charset "UTF-8";
/*
 *    Global CSS Definitions for seeapotheke.de
 */
/*
 * Page Layout Definitions for seeapotheke.de
 *
 * - Mobile Layout is more simple, going mobile first makes sense
 * - Mobile Layout using block-layout
 * - Desktop-Layout easiest with grid
 */
/*
 * - Global CSS Variables
 */
:root {
  --layout-header-height-sticky: 3.75rem;
  --layout-max-width: 80rem;
}

body {
  margin: 0;
  padding: 0;
}

.contain {
  border-right: var(--color-lines) solid var(--line-hair);
  max-width: var(--layout-max-width);
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .contain {
    display: grid;
    grid-template-columns: [header-start page-start] 1fr [header-end main-start] 3fr [main-end page-end];
    gap: 0;
  }
}
.contain header {
  grid-column: header;
}
@media (max-width: 1023px) {
  .contain header {
    min-height: 3.75rem;
  }
}
.contain main {
  grid-column: main;
}
@media (max-width: 959px) {
  .contain main > *:not(figure, img) {
    padding-block: var(--space-L);
  }
}
.contain main > *:not(figure, img, .appBlockWrapper) {
  max-width: 40rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.contain main > figure, .contain main > img {
  width: 100%;
}

/*
 * Global Custom Properties for seeapotheke.de
 */
:root {
  --space-XS: .25rem;
  --space-S: .375rem;
  --space-M: .5rem;
  --space-gap: 1rem;
  --space-L: 1.5rem;
  --space-XL: 2rem;
  --radius-M: .5rem;
  --radius-L: 1rem;
  --color-CI-1: #1E398F;
  --color-CI-1-plus-10: #3C59B4;
  --color-CI-2: #E30018;
  --color-CI-3: #007a3b;
  --color-lines: #E8E9ED;
  --color-paper: #FBFCFE;
  --color-selected: #E8E9ED;
  --color-body-text: #3D3D3D;
  --color-body-text-dimmed: #666666;
  --color-body-text-emphasized: #000000;
  --color-body-text-inverted: #F5F5F5;
  --line-hair: 1px;
}
@media (min-resolution: 150dpi) {
  :root {
    --line-hair: .5px;
  }
}

/*
 * Media Stylesheet for seeapotheke.de
 */
figure {
  margin: 0;
  padding: 0;
}
figure img {
  display: block;
}

img.icon, svg.icon {
  display: inline-block;
  width: auto;
  height: 1em;
}

span.icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  color: transparent;
  background-color: var(--text-color);
  -webkit-mask-image: var(--mask-url);
  mask-image: var(--mask-url);
}

.icon {
  transform: translateY(0.2em);
}

/*
 *  Typographic rules for seeapotheke.de
 */
/*
 * @license
 * MyFonts Webfont Build ID 3867246, 2020-12-16T11:57:38-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: undefined by undefined
 * URL: https://www.myfonts.comundefined
 * Copyright: Copyright © 2024 Monotype Imaging Inc. All rights reserved.
 *
 * © 2024 MyFonts Inc.
 */
@font-face {
  font-family: "IowanOldStyleBTProBold";
  src: url("/assets/webFonts/IowanOldStyleBTProBold/font.woff2") format("woff2"), url("/assets/webFonts/IowanOldStyleBTProBold/font.woff") format("woff");
}
* {
  color: var(--text-color);
}

body {
  font-family: "Avenir Next", "Avenir Next LT Pro", "Avenir", "Futura", "Helvetica Neue", system-ui, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  --text-color: var(--color-body-text);
}

figcaption {
  font-size: 0.875rem;
  line-height: 1.2;
  --text-color: var(--color-body-text-dimmed);
  font-weight: 400;
  text-align: center;
}

strong, b {
  --text-color: var(--color-body-text-emphasized);
  font-weight: 600;
}

em {
  font-style: italic;
}

h1, h2 {
  font-family: "IowanOldStyleBTProBold", ui-serif, serif;
  font-weight: bold;
  --text-color: var(--color-CI-1);
}

h1 {
  font-size: 2.125rem;
  line-height: 1.29;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5;
}

h3, h4, h5 {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.1428;
  --text-color: var(--color-CI-1);
}

h4, h5 {
  --text-color: var(--color-body-text-dimmed);
}

h5 {
  font-weight: normal;
}

h1 {
  margin-block: var(--space-XL) var(--space-XL);
}

h2, h3, h4, h5 {
  margin-block: var(--space-L) var(--space-M);
}

p, blockquote, ul, ol {
  margin-block: var(--space-M);
}

figure, a[role=button], div.button {
  margin-block: var(--space-M);
}
main figure:first-child, main a[role=button]:first-child, main div.button:first-child {
  margin-block: 0 var(--space-M);
}

figcaption {
  margin-block-end: var(--space-L);
}

/*
 * Details for Header/Sidebar on seeapotheke.de
 */
header {
  border-right: var(--color-lines) solid var(--line-hair);
  border-left: var(--color-lines) solid var(--line-hair);
}
header section {
  padding-block: var(--space-L);
  padding-inline: var(--space-gap);
  border-bottom: var(--color-lines) solid var(--line-hair);
}
header section article:first-child > *:first-child {
  margin-top: 0;
}
header section article:last-child > *:last-child {
  margin-bottom: 0;
}
header ol, header ul, header li {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav {
  margin-inline: calc(var(--space-M) * -1);
}
header nav a {
  display: block;
  padding: var(--space-XS) var(--space-M);
  text-decoration: none;
  border-radius: var(--radius-M);
  background: transparent;
  transition-property: background, color;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}
header nav a:link, header nav a:visited {
  --text-color: var(--color-body-text);
}
header nav a:active, header nav a:hover, header nav a:focus {
  --text-color: var(--color-body-text-inverted);
  background: var(--color-CI-1);
  transition-property: none;
}
header nav a:focus-visible {
  --text-color: var(--color-CI-1);
  background: var(--color-selected);
  outline: solid 2px var(--color-CI-2);
}

/*
 * Link Styles for seeapotheke.de
 */
a[href^=http]:not(nav a):not(a[href*="seeapotheke.de"], a[href*=localhost], .noFlag)::after {
  display: inline-block;
  content: "Externer Link";
  overflow: hidden;
  color: transparent;
  width: 1rem;
  height: 1rem;
  vertical-align: baseline;
  transform: translateY(0.17rem);
  margin-inline-start: var(--space-S);
  -webkit-mask-image: url("/assets/icons/external-link.svg");
  mask-image: url("/assets/icons/external-link.svg");
  background-color: var(--text-color);
}

a:link, a:visited {
  --text-color: var(--color-CI-1);
}
a:active, a:hover, a:focus, a:focus-visible {
  --text-color: var(--color-CI-2);
}

header nav a[href^=http]:not(a[href*="seeapotheke.de"], a[href*=localhost]) span::after {
  display: inline-block;
  content: "Externer Link";
  overflow: hidden;
  color: transparent;
  width: 1rem;
  height: 1rem;
  vertical-align: baseline;
  transform: translateY(0.17rem);
  margin-inline-start: var(--space-S);
  -webkit-mask-image: url("/assets/icons/external-link.svg");
  mask-image: url("/assets/icons/external-link.svg");
  background-color: var(--text-color);
}

/*
 * Styles for custom blocks in Kirby theme for seeapotheke.de
 */
.block_map-and-message {
  max-width: 100% !important;
  display: flex;
  gap: 0;
  margin-block: var(--space-M);
}
@media (max-width: 639px) {
  .block_map-and-message {
    flex-direction: column;
  }
}
main figure ~ .block_map-and-message {
  margin-block: calc(var(--space-M) * -1) var(--space-M);
}
.block_map-and-message article {
  order: 1;
  flex-basis: 50%;
  min-height: 200px;
  padding: var(--space-gap);
  background-size: cover;
  background-position: center center;
  border-bottom: var(--color-lines) solid var(--line-hair);
}

.block_map-and-message_map {
  order: 2;
  position: relative;
}
.block_map-and-message_map ul, .block_map-and-message_map li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.block_map-and-message_map ul {
  position: absolute;
  inset: var(--space-gap);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-gap);
  justify-content: center;
}

.block_floating {
  padding: var(--space-gap);
  border-radius: var(--radius-L);
  background-color: var(--color-CI-1);
  --button-background: var(--color-CI-1-plus-10);
  --text-color: var(--color-body-text-inverted);
  box-sizing: border-box;
}
.block_floating h1, .block_floating h2, .block_floating h3, .block_floating h4, .block_floating h5, .block_floating h6 {
  --text-color: var(--color-body-text-inverted);
}
.block_floating h1:first-child, .block_floating h2:first-child, .block_floating h3:first-child, .block_floating h4:first-child, .block_floating h5:first-child, .block_floating h6:first-child {
  margin-block-start: 0;
}
.block_floating a[href^=http]:not(nav a):not(a[href*="seeapotheke.de"], a[href*=localhost])::after {
  background-color: var(--color-body-text-inverted);
}
.block_floating a[href^=http]:not(nav a):link:not(a[href*="seeapotheke.de"], a[href*=localhost])::after, .block_floating a[href^=http]:not(nav a):visited:not(a[href*="seeapotheke.de"], a[href*=localhost])::after {
  background-color: var(--color-body-text-inverted);
}
.block_floating a[href^=http]:not(nav a):active:not(a[href*="seeapotheke.de"], a[href*=localhost])::after, .block_floating a[href^=http]:not(nav a):hover:not(a[href*="seeapotheke.de"], a[href*=localhost])::after, .block_floating a[href^=http]:not(nav a):focus:not(a[href*="seeapotheke.de"], a[href*=localhost])::after, .block_floating a[href^=http]:not(nav a):focus-visible:not(a[href*="seeapotheke.de"], a[href*=localhost])::after {
  background-color: var(--color-CI-2);
}
.block_floating a:link, .block_floating a:visited {
  --text-color: var(--color-body-text-inverted);
}
.block_floating a:active, .block_floating a:hover, .block_floating a:focus, .block_floating a:focus-visible {
  --text-color: var(--color-CI-2);
}
.block_floating.left {
  float: left;
  width: 25% !important;
  margin: 0 var(--space-gap) var(--space-gap) 16.667% !important;
}
.block_floating.none {
  margin-block: var(--space-M) !important;
}
.block_floating.right {
  float: right;
  width: 25% !important;
  margin: 0 16.667% var(--space-gap) var(--space-gap) !important;
}

.appBlockWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-gap);
}

.appBlock {
  flex-basis: 18.75rem;
  margin-block: var(--space-L);
  text-align: center;
}
.appBlock > img {
  width: 5rem;
  -webkit-filter: drop-shadow(0 0.25rem 1.25rem rgba(0, 0, 0, 0.08));
  filter: drop-shadow(0 0.25rem 1.25rem rgba(0, 0, 0, 0.08));
}
.appBlock div.links {
  display: flex;
  justify-content: center;
  gap: var(--space-gap);
}
.appBlock div.links a {
  flex-grow: 0;
  flex-shrink: 1;
}
.appBlock div.links a.appStoreBanner {
  flex-basis: 120px;
}
.appBlock div.links a.playStoreBanner {
  flex-basis: 135px;
}
/*
 * Styles for Button elements — seeapotheke.de
 */
body {
  --button-background: var(--color-CI-1);
  --button-background-hover: var(--color-paper);
}

a[role=button], div.button {
  --text-color: var(--color-body-text-inverted) !important;
  border: solid 2px transparent;
  box-sizing: border-box;
  display: flex;
  justify-items: center;
  justify-content: center;
  gap: var(--space-XS);
  text-align: center;
  text-decoration: none;
  padding: var(--space-XS);
  margin-block: var(--space-S);
  background: var(--button-background);
  border-radius: var(--radius-M);
}
a[role=button]:hover, a[role=button]:focus, a[role=button]:active, div.button:hover, div.button:focus, div.button:active {
  background: var(--button-background-hover);
  border: solid 2px var(--button-background);
  --text-color: var(--color-CI-1) !important;
}
a[role=button] span.label, div.button span.label {
  order: 2;
}
a[role=button] span.left, div.button span.left {
  order: 1;
}
a[role=button] span.right, div.button span.right {
  order: 3;
}

img {
  width: 100%;
  height: auto;
}

pre {
  background: black;
  --text-color: white;
  padding: 1rem;
}

/*# sourceMappingURL=global.css.map */
