@charset "UTF-8";
/*
 *    Global CSS Definitions for seeapotheke.de
 */
/*
 * Page Layout Definitions for seeapotheke.de
 *
 * - Mobile Layout is more simple, going mobile first makes sense
 * - Mobile Layout using block-layout
 * - Desktop-Layout easiest with grid
 */
/*
 * - Global CSS Variables
 */
:root {
  --layout-header-height-sticky: 3.75rem;
  --layout-max-width: 80rem;
}

body {
  margin: 0;
  padding: 0;
}

.contain {
  max-width: var(--layout-max-width);
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .contain {
    display: grid;
    grid-template-columns: [header-start page-start] 1fr [header-end main-start] 3fr [main-end page-end];
    gap: 0;
  }
}
.contain header {
  grid-column: header;
}
@media (max-width: 1023px) {
  .contain header {
    min-height: 3.75rem;
  }
}
.contain main {
  grid-column: main;
}

footer img {
  width: 100%;
}

/*
 * Global Custom Properties for seeapotheke.de
 */
:root {
  --space-XS: .25rem;
  --space-S: .375rem;
  --space-M: .5rem;
  --space-gap: 1rem;
  --space-L: 1.5rem;
  --space-XL: 2rem;
  --radius-M: .5rem;
  --color-CI-1: #1E398F;
  --color-CI-2: #E30018;
  --color-lines: #E8E9ED;
  --color-paper: #FBFCFE;
  --color-selected: #E8E9ED;
  --color-body-text: #3D3D3D;
  --color-body-text-dimmed: #666666;
  --color-body-text-emphasized: #000000;
  --color-body-text-inverted: #F5F5F5;
}

/*
 *  Typographic rules for seeapotheke.de
 */
/*
 * @license
 * MyFonts Webfont Build ID 3867246, 2020-12-16T11:57:38-0500
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: undefined by undefined
 * URL: https://www.myfonts.comundefined
 * Copyright: Copyright © 2024 Monotype Imaging Inc. All rights reserved.
 *
 * © 2024 MyFonts Inc.
 */
@font-face {
  font-family: "IowanOldStyleBTProBold";
  src: url("/assets/webFonts/IowanOldStyleBTProBold/font.woff2") format("woff2"), url("/assets/webFonts/IowanOldStyleBTProBold/font.woff") format("woff");
}
body {
  font-family: "Avenir Next", "Avenir Next LT Pro", "Avenir", "Futura", "Helvetica Neue", system-ui, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-body-text);
}

strong, b, em {
  color: var(--color-body-text-emphasized);
  font-weight: 600;
}

h1, h2 {
  font-family: "IowanOldStyleBTProBold", ui-serif, serif;
  font-weight: bold;
  color: var(--color-CI-1);
}

h1 {
  font-size: 2.125rem;
  line-height: 1.29;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.5;
}

h3, h4, h5 {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.1428;
  color: var(--color-CI-1);
}

h4, h5 {
  color: var(--color-body-text-dimmed);
}

h5 {
  font-weight: normal;
}

h1 {
  margin-block: var(--space-XL) var(--space-XL);
}

h2, h3, h4, h5 {
  margin-block: var(--space-L) var(--space-M);
}

p, blockquote, ul, ol {
  margin-block: var(--space-M);
}

/*
 * Details for Header/Sidebar on seeapotheke.de
 */
header section {
  padding-block: var(--space-L);
  padding-inline: var(--space-gap);
}
header ol, header ul, header li {
  list-style: none;
  margin: 0;
  padding: 0;
}
header nav {
  margin-inline: calc(var(--space-M) * -1);
}
header nav a {
  display: block;
  padding: var(--space-XS) var(--space-M);
  text-decoration: none;
  border-radius: var(--radius-M);
  background: transparent;
  transition-property: background, color;
  transition-duration: 250ms;
  transition-timing-function: ease-out;
}
header nav a:link, header nav a:visited {
  color: var(--color-body-text);
}
header nav a:active, header nav a:hover, header nav a:focus {
  color: var(--color-body-text-inverted);
  background: var(--color-CI-1);
  transition-property: none;
}
header nav a:focus-visible {
  color: var(--color-CI-1);
  background: var(--color-selected);
  outline: solid 2px var(--color-CI-2);
}

/*
 * Link Styles for seeapotheke.de
 */
a[href^=http]:not(nav a):not(a[href*="seeapotheke.de"], a[href*=localhost])::after {
  display: inline-block;
  content: "Externer Link";
  overflow: hidden;
  color: transparent;
  width: 1rem;
  height: 1rem;
  vertical-align: baseline;
  transform: translateY(0.17rem);
  margin-inline-start: var(--space-S);
  -webkit-mask-image: url("/assets/icon-external-link.svg");
  mask-image: url("/assets/icon-external-link.svg");
  background-color: var(--color-body-text);
}
a[href^=http]:not(nav a):link:not(a[href*="seeapotheke.de"], a[href*=localhost])::after, a[href^=http]:not(nav a):visited:not(a[href*="seeapotheke.de"], a[href*=localhost])::after {
  background-color: var(--color-CI-1);
}
a[href^=http]:not(nav a):active:not(a[href*="seeapotheke.de"], a[href*=localhost])::after, a[href^=http]:not(nav a):hover:not(a[href*="seeapotheke.de"], a[href*=localhost])::after, a[href^=http]:not(nav a):focus:not(a[href*="seeapotheke.de"], a[href*=localhost])::after, a[href^=http]:not(nav a):focus-visible:not(a[href*="seeapotheke.de"], a[href*=localhost])::after {
  background-color: var(--color-CI-2);
}

a:link, a:visited {
  color: var(--color-CI-1);
}
a:active, a:hover, a:focus, a:focus-visible {
  color: var(--color-CI-2);
}

header nav a[href^=http]:not(a[href*="seeapotheke.de"], a[href*=localhost]) span::after {
  display: inline-block;
  content: "Externer Link";
  overflow: hidden;
  color: transparent;
  width: 1rem;
  height: 1rem;
  vertical-align: baseline;
  transform: translateY(0.17rem);
  margin-inline-start: var(--space-S);
  -webkit-mask-image: url("/assets/icon-external-link.svg");
  mask-image: url("/assets/icon-external-link.svg");
  background-color: var(--color-body-text);
}
header nav a[href^=http]:link:not(a[href*="seeapotheke.de"], a[href*=localhost]) span::after, header nav a[href^=http]:active:not(a[href*="seeapotheke.de"], a[href*=localhost]) span::after, header nav a[href^=http]:hover:not(a[href*="seeapotheke.de"], a[href*=localhost]) span::after, header nav a[href^=http]:focus:not(a[href*="seeapotheke.de"], a[href*=localhost]) span::after {
  background-color: var(--color-body-text-inverted);
}
header nav a[href^=http]:focus-visible:not(a[href*="seeapotheke.de"], a[href*=localhost]) span::after {
  background-color: var(--color-CI-1);
}

img {
  max-width: 100%;
  height: auto;
}

pre {
  background: black;
  color: white;
  padding: 1rem;
}

/*# sourceMappingURL=global.css.map */
